@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">GajaTrack V2</a>
            </div>
        </div>

        <nav class="flex-column">
            <div class="nav-item px-3">
                <a class="nav-link" href="">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </a>
            </div>
            <div class="nav-item px-3">
                <a class="nav-link" href="import-babyplus">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Baby+ Import
                </a>
            </div>
            <div class="nav-item px-3">
                <a class="nav-link" href="daily-rhythm-map">
                    <span class="bi bi-calendar3-nav-menu" aria-hidden="true"></span> Rhythm Map
                </a>
            </div>
        </nav>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
